// out: site.min.css, style: compressed

$blue: #1161D9;
$orange: #D98911;
$purple: #8911D9;
$green: #61D911;
$grey: #C1C4CB;

#site-nav{
	transition: all 1s ease;
}
.wf-blue {
  color: #ffffff;
  background-color: $blue;
}
.wf-orange {
  color: #ffffff;
  background-color: $orange;
}
.wf-purple {
  color: #ffffff;
  background-color: $purple;
}
.wf-green {
  color: #ffffff;
  background-color: $green;
}
.bg-grey{
	background-color: $grey;
}
#site-nav{
	.navbar-brand{
		img{
			max-width: 200px;
			transition: all 1s ease;
		}
		img.small{
			max-width: 150px;
		}
	}
}
.btn{
	border-radius: .2rem;
}
.btn-primary{
	background-color: $blue;
	box-shadow: 0 5px 5px rgba(0,0,0,0.25);
}

.iframe-container {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}

.iframe-container iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}

/* 4x3 Aspect Ratio */
.iframe-container-4x3 {
  padding-top: 75%;
}

@media (min-width: 768px) {
	.homepage-section{
		min-height: 70vh;
	}
	.giant{
		font-size: 2rem;
	}
}