body {
    position: relative;
    font-family: "Courier New", Courier, Monospace;
}
h1, h2, h3 {
  font-family: "Arial Rounded MT", Arial, Helvetica, sans-serif;
}
.wf-blue {
  color: #D98911;
  background-color: #1161D9;
}
.wf-orange {
  color: #ffffff;
  background-color: #D98911;
}
.wf-purple {
  color: #ffffff;
  background-color: #8911D9;
}
.wf-green {
  color: #ffffff;
  background-color: #61D911;
}
.mainbody{
  min-height: 100vh;
    }
.oc{
  background-image: url("Octocat.png");
  background-repeat: no-repeat;
}
